
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,300&display=swap');

.FormationList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2px 16px;
}

.formation-card {
  width: 400px;
  height: auto;
  border: 1px solid rgba(0.1, 0, 0, 0);
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  margin: 30px auto;
}

.formation-text {
  padding: 5px;
  font-family: 'Rubik', sans-serif;
}

.formation-title {
  margin: 5px;
}

.btn {
  background-color: #ebb222;
  color: black;
  border-radius: 10px;
  margin: 5px;
  border: none;
  width: 130px;
  height: 30px;
}